################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Subscription.API/Subscription.API.csproj.user
/Subscription.API/bin/Debug/net9.0
/Subscription.API/obj
/.vs/Subscription.API
